body{
    margin: 0;
    padding: 0;
}

.scheme{

    position: absolute;
    top: 10%;
    left: 2.5%;
    width: 95%;
}

.map{
    width: 100%;
    height: auto;
}

svg{
    position: absolute;
    width: 100%;

}

.description{
    position: absolute;
    left: 25%;
    top: 60%;
    width: 50%;
    height: auto;
    border: 1px solid rgb(0,0,0);
}