body {
    background-image: url("pictures/start-background.png");
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeIn {
    animation: fadeIn 2s ease-out;
    animation-fill-mode: forwards;
}

@media only screen and (orientation: landscape) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 95vh;
    }

    .text {
        flex: 1;
        text-align: center;
    }

    .text h1 {
        font-size: 48px;
        text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .text p {
        font-size: 28px;
    }

    .pictures {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        grid-column-gap: 50px;
    }

    .person img {
        width: 40vh;
        height: 40vh;
    }

    .person p {
        text-align: center;
        font-size: 18px;
    }

    .button {
        background-color: #3584f2;
        cursor: pointer;
        width: 150px;
        height: 50px;
    }

    .button a {
        color: white;
        text-decoration: none;
        font-size: 19px;
    }

    .button:hover {
        background-color: #0056b3;
    }
}


@media only screen and (orientation: portrait) {
    .container {
        justify-content: center;
    }

    .text h1 {
        font-size: 64px;
        text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .text p {
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
    }

    .pictures {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 20px;
        margin-top: 15px;
    }

    .text,
    .pictures {
        justify-content: center;
        text-align: center;
    }

    .person img {
        width: 25vh;
        height: 25vh;
    }

    .person p {
        text-align: center;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
    }

    .button {
        background-color: #007bff;
        color: white;
        cursor: pointer;
        width: 370px;
        height: 100px;
    }

    .button a {
        color: white;
        text-decoration: none;
        font-size: 42px;
    }

    .button {
        background-color: #0056b3;
    }
}