body{
    margin: 0;
    padding: 0;
}

.scheme{
    position: absolute;
    width: 100%;
}

.map{
    width: 90%;
    height: auto;
    margin-top: 10%;
    margin-left: 5%;
}

svg{
    position: absolute;
    width: 90%;
    height: auto;
    margin-top: 10%;
    margin-left: 5%;
}